<div class="background">
    <h1 class="title mt-5"><span>About</span></h1>
    <h3 class="text mt-5 mb-5"><span>登城!とは、お城を中心に城下町にある</span><br>
    <h3 class="text mt-5 mb-5"><span>お気に入りのお店をレビューして共有するサイトです。</span></h3>
</div>